<nav class="navbar">
    <a class="fruits-index-link" href="/">Home</a>
    <a class="fruits-index-link" href="/fruits">All Fruits</a>
    <a class="fruits-index-link" href="/fruits/new">Add a Fruit</a>
</nav>