<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs')%>
    <h2>404 a page with url <%= url %>. Please try a different page</h2>
</body>
</html>