<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: "All Fruits"}) %>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="index-header-div">
      <h1>All Fruits</h1>
      <a class="add-fruit" href="/fruits/new">Add a fruit</a>
    </div>
    <% if(allFruits.length === 0) { %>
    <p>
      No fruits available. Please add a new fruit on
      <a class="fruits-index-link" href="/fruits/new">New Fruit Page</a>
    </p>
    <% } %>
    <ul>
      <% allFruits.map(fruit => { %>
      <li>
        <a class="fruit-cards" href="/fruits/<%= fruit._id %>"> <%= fruit.name %> </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>