<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: "Create a New Fruit"}) %>

  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Create a new Fruit!</h1>
    <form action="/fruits" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

       <label for="color">Color:</label>
      <input type="text" name="color" id="color" />

      <div class="checkbox-div">
        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>